# .env.example

NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto-real.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu-anon-key-real-de-supabase
NEXT_PUBLIC_SUPABASE_SCHEMA=public
ADMIN_SLUG=backend-secreto
# Comma-separated list of allowed admin emails
ADMIN_ALLOWED_EMAILS=tu-correo-real@gmail.com
SUPABASE_SERVICE_ROLE_KEY=supabase-service-role-key
USER_NAME=my-user-name-in-table-profile
